<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styles.css"/>
    <link rel="stylesheet" href="stylesheets/stylesprincipal.css"/>
    <script defer src="/app.js"></script>
    <title>Clase 3 Dom</title>

</head>
<body class="bg-img">
    <section>
    <div class="topContainer">
        <div class="topL margin">
        <img src="images/Gundam Exia Gn001.png" alt="Grifo">
        </div>

        <div class="topC margin lawngreen">
        <img src="images/Gundam Serpentine.png" alt="">
        </div>

    </div>

    <div class="centerContainer">
        <div class="simpleContainer1"
        align = center>
        
        <span><h3>
            <p><font color="white" size=5>Breve Reseña</font></p></h3>
                <br>
                <br>
           <h4><p><font color="white" size=4>
             Gundam (en japonés: ガンダム, Hepburn: Gandamu), también conocida como Serie Gundam (ガンダムシリーズ Gandamu Shirīzu?), es una franquicia de series animadas de ciencia ficción creadas por Yoshiyuki Tomino para los estudios Sunrise. La temática de las series son los conflictos bélicos entre humanos. En la serie, los bandos en guerra utilizan armaduras de combate llamadas Mobile Suits (MS). Por lo general, el Mobile Suit del protagonista es el que lleva el nombre de Gundam.

La primera serie de este conjunto, llamada Mobile Suit Gundam, fue estrenada el 7 de abril de 1979. Esta primera serie revolucionó el género Mecha por mostrar a los "robots" como armas de guerra convencionales y a sus pilotos como soldados en medio de conflictos militares a gran escala. La repercusión de la serie una franquicia multimillonaria que ha producido varios trabajos en diversos medios de difusión, tales como series de televisión OVAs, películas, manga, novelas, videojuegos, modelos a escala, música, juguetes, ropa, comida, etc. El argumento de la serie original de 1979 ha sido considerablemente expandido con secuelas, precuelas, historias paralelas y líneas de tiempo alternativas. La franquicia también ha dado origen a una de las mayores marcas de juguetes y de pasatiempo en la historia de la industria juguetera japonesa.

Gundam se ha convertido en un icono cultural de Japón. Para el 21 de enero del 2008, Gundam se había convertido en una franquicia de 50 mil millones de Yen.​ Un comunicado de prensa del año 2000 indicó que las ventas al por menor de los artículos Gundam habían sumado cinco mil millones de dólares.​ Los gunpla (maquetas de Gundam) mantienen el 90% de mercado de maquetas.

Estudiosos japoneses también han visto la serie como una inspiración, fundándose así la Sociedad Internacional Gundam, la primera institución académica inspirada en una serie de animación.
            </font></p>
            </h4>
        </span>
        </div>
        
        <div class="simpleContainer2 margin" align="center">
            <span><h3><font color="red" size=5>Concepto</font></h3><br>
                <h4><font color="red" size=3><p>
La franquicia tiene su origen en la serie de anime Mobile Suit Gundam (1979). Esta serie animada fue desarrollada por el renombrado director Yoshiyuki Tomino conjuntamente con un equipo de empleados de los Estudios Sunrise, que trabajaron bajo el seudónimo colectivo de "Hajime Yatate".

Durante su fase conceptual, la serie iba a ser llamada Freedom Fighter Gunboy, o simplemente Gunboy, por el hecho de que el "robot" estaba armado con una pistola (gun en inglés) y porque la serie estaba dirigida para una demografía shōnen (literalmente «muchacho» en japonés, boy en inglés). Durante las etapas iniciales de producción, había numerosas referencias a la palabra inglesa freedom («libertad»). Por ejemplo: la nave nodriza White Base iba a ser llamada "Freedom's Fortress", los aviones caza Core Fighter iban a ser llamados "Freedom Wing", y las naves transporte Gunperry iban a ser llamadas "Freedom Cruiser". El equipo Yatate combinó la palabra gun con la última sílaba de la palabra freedom para formar el nombre gundom. Posteriormente, Tomino cambió el nombre Gundom por Gundam, bajo la idea de que el Gundam era una máquina de combate con una pistola (gun en inglés) lo suficientemente fuerte para resistir el avance de sus enemigos, como una represa (dam en inglés) que resiste el paso del agua y las inundaciones.5​ Bajo este concepto, todos los Gundams que han sido creados desde entonces son descritos como máquinas de combate únicas de producción limitada con tecnología y capacidades superiores a las producidas en masa.

Los Gundams son sempiternamente descritos como vehículos antropomórficos gigantescos controlados por un humano desde una cabina. la mayoría de estas máquinas tienen su cabina ubicada en el «torso» con varias cámaras instaladas en la «cabeza», siendo estas las que transmiten las imágenes a la cabina. (exceptuando a Psyco Gundam, donde la cabina está ubicada en la cabeza de la máquina.) Los gundams no son máquinas inteligentes (exceptuando a la inteligencia artificial A.L.I.C.E. que apareció en Gundam Sentinel​ y a 4 mobile suits que trabajan con el sistema EXAM en The Blue Destiny.​)</p>
            </font>
            </h4></span>
        </div>
    </div>
    <br>
    <div class="bottomContainer" align="center">
    <span><h3><font color="black" size=6>Algunas Series De Muestra</font></h3></span>   
      
        <div class="bottomCenter margin">
        <div class="centerMenu">
        <div><a style="text-decoration: none;"
        href="presentacion"
        target="_blank"><font color="white" size=5><h3>Presentación</h3></font></a></div>
       
        <div><a style="text-decoration: none;"
        href="https://www.cultture.com/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023"
        target="_blank"><font color="white" size=5><h3>Todas Las Series Gundam</h3></font></a></div>
        </div>
        </div>
    </div>
    <br>

    <footer class="margin1" align="center">
    <span><h3><font color="black" size=4>Para Mayor Información Puedes Visitar Los Sitios</font></h3></span>   
       
    <div class="sociales" >
    <a href="https://twitter.com/gundaminfona?lang=es"
    target="_blank">
    <img src="https://img.icons8.com/color/50/000000/twitter--v2.png"
     style="margin-right: 80px;">
    </a>

    <a href="https://www.facebook.com/gundamglobalportal/"
    target="_blank">
    <img src="https://img.icons8.com/color/50/000000/facebook-circled--v4.png"
    style="margin-right: 80px;">
    </a>

    <a href="https://www.youtube.com/@GundamInfo"
    target="_blank">
    <img src="https://img.icons8.com/color/50/000000/youtube-play.png"
    style="margin-right: 80px;">
    </a>
    
    <a href="https://www.instagram.com/gundamstagram/"
    target="_blank">
    <img src="https://img.icons8.com/color/48/000000/instagram-new.png">
    </a>    
    
    </div> 

    </footer> 
    </section>

</body>
</html>