<head>
<link rel="stylesheet" href="stylesheets/styles.css"/>
</head>

<body 
    class="bgImg">
          
    <h1 align="center">Series De Muestra</h1>
    <br>
    <h3 align="center">Haga click sobre la imagen para abrirla en una nueva ventana</h3>
    <br>
               
        <section align="center"> 
            <article class="uno">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-0.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-0.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">1. Mobile Suit Gundam (1979-1980)</div>
            </a>
            </article>
    
            <article class="dos">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-1.webp"
            target="_blank">        
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-1.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">2. Mobile Suit Zeta Gundam (1985-1986)</div>
            </div>
            </a>
            </article>
    
            <article class="tres">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-2.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-2.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">3. Mobile Suit Gundam ZZ (1986-1987)</div>
            </div>
            </a>
            </article>
        
            <article class="cuatro">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-3.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-3.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">4. Mobile Suit Gundam: Contraataque de Char (1988)</div>
            </div>
            </a>
            </article>
        
            <article class="cinco">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-4.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-4.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">5. Mobile Suit SD Gundam (1988-1993)</div>
            </div>
            </a>
            </article>
        
            <article class="seis">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-5.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-5.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">6. Mobile Suit Gundam 0080: Guerra en el bolsillo (1989)</div>
            </div>
            </a>
            </article>
        
            <article class="siete">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-6.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-6.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">7. Mobile Suit Gundam F91 (1991)</div>
            </div>
            </a>
            </article>
        
            <article class="ocho">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-7.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-7.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">8. Mobile Suit Gundam 0083: Stardust Memory (1991-1992)</div>
            </div>
            </a>
            </article>
        
            <article class="nueve">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-8.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-8.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">9. Mobile Suit Victory Gundam (1993-1994)</div>
            </div>
            </a>
            </article>
        
            <article class="diez">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-9.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-9.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">10. Mobile Fighter G Gundam (1994-1995)</div>
            </div>
            </a>
            </article>

            <article class="once">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-10.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-10.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">11. Mobile Suit Gundam Wing (1995-1996)</div>
            </div>
            </a>
            </article>

            <article class="doce">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-11.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-11.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">12. Mobile Suit Gundam: El 08º Equipo MS (1996-1999)</div>
            </div>
            </a>
            </article>

            <article class="trece">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-12.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-12.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">13. After War Gundam X (1996)</div>
            </div>
            </a>
            </article>

            <article class="catorce">
            <a href="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-13.webp"
            target="_blank">
            <div id="cajamadre">
            <img src="https://www.cultture.com/pics/2023/02/todas-las-series-de-anime-de-gundam-en-orden-cronologico-actualizado-feb-2023-13.webp" 
            class="imgcaja" 
            style="width: 200px; border-radius: 2%;">
            <div class="textosobreimg">14. Gundam Wing: Endless Waltz (1997)</div>
            </div>
            </a>
            </article>

        </section>    
         
        <div class="menu" id="Solicitud">
    <h2>(Pinche en el nombre de la serie que desee ver el opening)</h2>  <br>
            <div><a href="https://www.youtube.com/watch?v=ZszGvGAR5NU"
                target="_blank">
                    Mobile Suit Gundam (1979-1980)</a></div>
            
            <div><a href="https://www.youtube.com/watch?v=X82QTT_vJI0"
                target="_blank">
                    Mobile Suit Zeta Gundam (1985-1986)</a></div>

            <div><a href="https://www.youtube.com/watch?v=9IBkG8E4qYc"
                target="_blank">
                    Mobile Suit Gundam ZZ (1986-1987)</a></div>

            <div><a href="https://www.youtube.com/watch?v=kEpjuW8QXNo&t"
                target="_blank">
                    Mobile Suit Gundam: Contraataque de Char (1988)</a></div>

            <div><a href="https://www.youtube.com/watch?v=JAgDMkX7rfk"
                target="_blank">
                    Mobile Suit SD Gundam (1988-1993)</a></div>

            <div><a href="https://www.youtube.com/watch?v=MRp5RdWYtTA"
                target="_blank">
                    Mobile Suit Gundam 0080: Guerra en el bolsillo (1989)</a></div>

            <div><a href="https://www.youtube.com/watch?v=dnncpAr9Jf0"
                target="_blank">
                    Mobile Suit Gundam F91 (1991)</a></div>

            <div><a href="https://www.youtube.com/watch?v=nJeUg1glX8k"
                target="_blank">
                    Mobile Suit Gundam 0083: Stardust Memory (1991-1992)</a></div>       
            
            <div><a href="https://www.youtube.com/watch?v=hxr71yer83g"
                target="_blank">
                    Mobile Suit Victory Gundam (1993-1994)</a></div>

            <div><a href="https://www.youtube.com/watch?v=UHZwXJzZlAY"
                target="_blank">
                    Mobile Fighter G Gundam (1994-1995)</a></div>

            <div><a href="https://www.youtube.com/watch?v=oNJ4aBoRipg"
                target="_blank">
                    Mobile Suit Gundam Wing (1995-1996)</a></div>

            <div><a href="https://www.youtube.com/watch?v=y9q0YX3E-o4"
                target="_blank">
                    Mobile Suit Gundam: El 08º Equipo MS (1996-1999)</a></div>

            <div><a href="https://www.youtube.com/watch?v=0Bby8QT87Ys"
                target="_blank">
                    After War Gundam X (1996)</a></div>

            <div><a href="https://www.youtube.com/watch?v=LqhrtO31Nf4"
                target="_blank">
                    Gundam Wing: Endless Waltz (1997)</a></div>   
            </div>        
        </section>
        
          <div class="menu"
             align="center">
        <a href="presentacion"><h2>Subir</h2></a>
        <a href="/"><h2>Ir A La Página Principal</h2></a>
         <br>
         <br>
         <br>
        </div> 
</body>
</html>